@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ysabeau+Office:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    text-decoration: none;
    
}
a{
    color: rgb(43, 16, 178);
}
a:hover{
    text-decoration:underline;
}
.top{
    width: 100%;
    text-align: center;
    background-color: rgb(83, 176, 124);
    color: white;
    padding-block: 4px;
    box-shadow: 3px 2px 20px;
    -webkit-text-stroke: 1px rgb(4, 65, 4);
    font-family: sans-serif;
}

span{
    font-weight:500;
}
.flex{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align:start;

}
.util{
    background-color: antiquewhite;
    height: fit-content;
    padding: 20px;
    box-shadow: 2px 2px 5px 1px;
    margin-bottom: 20px;
    padding-block: 10px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, rgb(254, 84, 84), rgb(255, 180, 193));

}
section{
    padding: 30px;
    max-width: 1080px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 2px 20px 2px;
    margin-block: 40px;
}
.head{
    font-size: 2.5rem;
    
}
.ans{
    font-size: 0.9rem;
}
